{% extends 'base.html' %}


{% block content %}


    <div class="row">

        {% for list in object_list %}
            <div class="col">
            {{ forloop.counter }}
            {% include 'products/snippet/card.html'  with instance=list %}
        
            {% if forloop.counter|divisibleby:2 %}
                </div> </div><div class='row'> <div class='col-12'><hr/></div>
            {% else %}
            </div>
            {% endif %}
        
        {% endfor %}
    </div>

{% endblock %}
© 2020 GitHub, Inc.















































