{% extends 'base.html' %}


{% block content %}
    
        <div class="row">
            <div class="col-12 col-md-6">
                <h1 style="text-transform: uppercase;">{{obj.title}}</h1>
                {{obj.timestamp|timesince}} ago 
                <p>{{obj.description|linebreaks}}</p>
                
            {% if obj.image %}
                <img src="{{obj.image.url}}" alt="">
            {% endif %}
            </div>

            <div class="col-12 col-md-6">
                {% include 'products/snippet/update-cart.html' with product=object cart=cart  %}
                

            </div>
        </div>



{% endblock content %}

